<ion-view title="About" style="background-image: url('img/back9.png')" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content  class="has-header">
    <br>
    <h3 style=" padding-left: 10px; text-align:center;">About KLUG:</h3><br>
    <div style=" text-align:justify;font-family: Prompt;padding-left: 20px;padding-right: 20px">
      <div align="center"><img style="align:middle" src="img/klug.png" alt="Oops!"></div><br>
      'K L University - GNU/Linux Users' Group aka KLUG is a network of individuals
      who are interested in the use of Linux and other Free & Open Source Software.<br>
       Incharge: Sripath Roy Koganti
      <h4>What we do:</h4>
        <ion-list>
      Advocate the use of Linux.<br>
        </ion-list>

          <ion-list>
        Support Linux users both on and off campus.<br>
        </ion-list>
          <ion-list>
        Socialize with their fellow Linux users.<br>
            </ion-list>
          <ion-list>
          Engage in other Linux-related activities (i.e. Installfests).<br>
            </ion-list>
          <ion-list>
            Obtain advanced information about Linux.<br>
            </ion-list>
          <ion-list>
            Attend seminars and tutorials on the use of Linux and FOSS.<br>
            </ion-list>
          <ion-list>

            Work with other Free and Open-Source software.<br>
            </ion-list>
          <ion-list>
            Other activities, that the members deem appropriate for the Group.<br>
            </ion-list>
          <ion-list>
            Introduce users of Linux to others via the known concept of GLUGS
      Collaboration with other GLUGs near by.
            </ion-list>
          <ion-list>
            Unify the efforts of User Groups and help Nascent Indian FOSS Community.
      </ion-list>
    </div>
    <h3 style="padding-left: 10px">About Swecha</h3>
    <img src="img/swech.png" alt="Oops!" style="padding-left: 10px; height:120px; width:120px;">

    <div style="font-family: Prompt; text-align:justify; padding-left: 20px;padding-right: 20px">
    <p>Swecha is a non-profit organization formed in the year 2005, is a part of Free Software Movement of India (FSMI).
    This organization is a social movement that works towards enlightening the masses with the essence of Free Software and to liberate knowledge to the commoners.
<br>
    Swecha is a vibrant community of software users, students, academicians and software professionals/developers determined to provide quality software built on the guidelines of free software development model.
    </p>
      </div>
    <div style="font-family: Prompt; text-align:justify; padding-left: 20px;padding-right: 20px; white-space: inherit;">
      <p>
    Swecha aims at providing global software solutions to the local people with the Free Software development model by working together with the community of developers and users all over.

    Swecha organizes different workshops and seminars in the Indian state of Telangana among the youth to spread the idea of knowledge liberation.
<br><br>
    The swecha has a sizable number of followers in states of Telangana and Andhra Pradesh and a vibrant community of software users, students, academicians and software professionals/developers determined to provide quality
        software built on the guidelines of free software development model.
<br><br>
    Presently Swecha is active a GLUG (GNU Linux user group) in many engineering colleges, One of the declared aims of the movement is to take Free Software and its ideological implications to computer users “across the digital divide”,
        to under-privileged sections of society.<br><br>More than 500 volunteers getting trained in the different technologies like Drupal, Python, Firefox Os App Development and Open Source Hardware etc.,
        to bring awareness Employment Opportunities in a Changing Technology Landscape.
      </p>
      </div>
    <h3 style="padding-left: 10px">BalaSwecha Team:</h3>
    <img src="img/bswecha.png" alt="Oops!" style="padding-left: 20px; height:70px; width:150px;">

    <div style="font-family: Prompt; text-align:justify;padding-left: 20px;padding-right: 20px">
      KLUG aspires to create tech-impact in the society. It is on its path to bring
      technology to the commons. Bala Swecha, as a part of “THE GLUG” is an initiative
      towards reducing the digital divide in our society.<br><br>
      Bala Swecha activity is a techno-social activity where students of the Government schools are taught how to imbibe practical
      knowledge with the help of technical aids. This activity focusses on providing full-fledged
      knowledge to the students who are denied of well off facilities. <br><br> Bala Swecha is a step
      towards the vision called “Bridging the Digital-Divide”.<br>
    </div>
  </ion-content>
</ion-view>
