
<ion-view title="Contact Us">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <br>
  <ion-content style="top:35px;" class="has-header">
      <ion-tabs class="tabs-positive">
        <ion-tab icon-on="ion-android-search" icon-on="ion-search" icon-off="ion-search">
          <h4 style="background-color:#00AEDB;top:20px; font-family:Prompt; color: black;font-size: 24pt">
            Follow KLUG:
          </h4>
        <ion-content style="background-color:#00AEDB;">
          
            <ion-list>
            
              <ion-item  style="color:#3b5998;" onclick="window.open('https://www.facebook.com/groups/321174991278076/', '_system', 'location=yes'); return false;">
                <a   class="item-icon-right">

                <i class="ion-social-facebook"><p style="font-family:Arial; color:#3b5998;font-size:17pt">KLU GLUG Group</p>
                  </i>
                </a>
              </ion-item>
              <ion-item style="color:#3b5998;" onclick="window.open('https://www.facebook.com/KLUGian/',  'location=yes'); return false;">
                <a class="item-icon-right">
                  <i style="font-size:20px;" class="ion-social-facebook-outline" ><p style="font-family:Arial; color:#3b5998;font-size:17pt"> KLUGian Page</p>
                  </i>
                </a>
              </ion-item>
              <ion-item  style="color:#255f8d" onclick="window.open('https://telegram.me/joinchat/AmBFggDBE4g92WMkZZMEfQ', '_system', 'location=yes'); return false;">
                <a class="item-icon-right">
                  <i style="font-size:20px; " class="ion-paper-airplane" ><p style="font-family:Arial; color:#255f8d;font-size:17pt">Telegram Group</p>
                    
                  </i>
                </a>
              </ion-item>
              <ion-item style="color:#3b5998;" onclick="window.open('https://www.facebook.com/KLUster.OS/', 'location=yes'); return false;" >
                <a class="item-icon-right">
                  <i style="font-size:20px; " class="ion-social-facebook-outline"><p style="font-family:Arial; color:#3b5998;font-size:17pt">KLUSTER OS Page</p>
                   
                  </i>
                </a>
              </ion-item>
              <ion-item style="color:#c9510c" onclick="window.open('https://www.github.com/orgs/KLGLUG/', 'location=yes'); return false;" >
                <a class="item-icon-right">
                  <i style="font-size:20px;" class="ion-social-github" ><p style="font-family:Arial; color:#c9510c;font-size:17pt"> Fork us on Github</p>
                    </i>
                </a>
              </ion-item>
              <ion-item style="color:#dd4b39"  onclick="window.open('https://mail.google.com/mail/u/0/?view=cm&fs=1&to=kluglug@gmail.com&su=&body=&tf=1()')" >
                <a class="item-icon-right">
               <i style="font-size:20px;" class="ion-email" ><p style="font-family:Arial; color:#dd4b39;font-size:17pt">Email Us - kluglug@gmail.com</p>
                    
                  </i>
                </a>
              </ion-item>

            </ion-list>
          </ion-content>
        </ion-tab>

        <ion-tab title="Map" icon-on="ion-location" icon-off="ion-location">
          <ion-content >
            <div  class="card">
              <div style="font-size:22pt" class="item item-divider">
                <h2>
                Our Beacon:</h2>
              </div>
              <div style="height:100%;" class="item item-text-wrap">
                <img style="width: 100%;height: 100%; " src="https://maps.googleapis.com/maps/api/staticmap?center=16.440843,80.621836&zoom=11&size=610x1000">
              </div>
            </div>
          </ion-content>
        </ion-tab>
      </ion-tabs>

          </ion-content>
        </ion-view>
        <!--ng-href="{{mailLink}}" target="_blank"-->
<!--  <ion-item style="color:#dd4b39"  onclick="window.location.open('https://mail.google.com/mail/u/0/?view=cm&fs=1&to=kluglug@gmail.com&su=SUBJECT&body=BODY&tf=1()')" >
<!- <ion-item style="color:#dd4b39"  onclick="window.open('https://mail.google.com/mail/u/0/?view=cm&fs=1&to=kluglug@gmail.com&su=SUBJECT&body=BODY&tf=1()')" >
